<!-- Navigation Panel -->
 
<header class="w-full bg-sky-500 text-white font-medium p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center gap-4">
    <ul class="md:flex md:space-x-4 space-y-4">

      <!-- Index -->
       <% if (!isLoggedIn) { %>
      <li>
        <a href="/" class="<%= currPage === 'index' ? 
        'bg-sky-700 shadow-black shadow-md' : 'hover:bg-sky-400' %> py-2 px-4 rounded transition duration-300"><i
            class="fa-brands fa-airbnb"></i> AirBnB</a>
      </li>
      <% } %>

      <!-- Home-List -->
      <% if (isLoggedIn) { %>
      <li>
        <a href="/homes"
          class="<%= currPage === 'homes' ? 
        'bg-sky-700 shadow-black shadow-md' : 'hover:bg-sky-400' %> py-2 px-4 rounded transition duration-300">Home-List</a>
      </li>

      <!-- Favourites -->
      <li>
        <a href="/favourites"
          class="<%= currPage === 'favourites' ? 
        'bg-sky-700 shadow-black shadow-md' : 'hover:bg-sky-400' %> py-2 px-4 rounded transition duration-300">Favourites</a>
      </li>

      <!-- Bookings -->
      <li>
        <a href="/bookings"
          class="<%= currPage === 'bookings' ? 
        'bg-sky-700 shadow-black shadow-md' : 'hover:bg-sky-400' %> py-2 px-4 rounded transition duration-300">Bookings</a>
      </li>

      <!-- Admin Home -->
      <li>
        <a href="/admin-home-list" class="<%= currPage === 'admin-home' ? 
        'bg-sky-700 shadow-black shadow-md' : 'hover:bg-sky-400' %> py-2 px-4 rounded transition duration-300">Admin
          Home</a>
      </li>

      <!-- Add Home -->
      <li>
        <a href="/add-home" class="<%= currPage === 'add-home' ? 
        'bg-sky-700 shadow-black shadow-md' : 'hover:bg-sky-400' %> py-2 px-4 rounded transition duration-300">Add
          Home</a>
      </li>
      <% } %>
    </ul>

    <!-- Login/Logout -->
     <% if (!isLoggedIn) { %>
    <div class="absolute top-0 right-0 mt-4 mr-2">
      <a href="/login"
        class="text-white text-md font-medium bg-black p-2 px-4 rounded-md  shadow-md hover:font-bold">Login</a>
    </div>
    <% } else {%>
    <form class="absolute top-0 right-0 mt-3 mr-2" action="/logout" method="POST">
      <button type="submit" class="text-white text-md font-medium bg-black p-2 px-4 rounded-md shadow-md cursor-pointer hover:font-bold">Logout</button>
    </form>
    <% } %>
  </nav>
</header>